/* 
    CSS Guide 

    1.  General Styles
    2.  Main Nav
    3.  Main Hero Image
    4.  Main Hero Image Contact
    5.  Why Couples Resort
    6.  About & FAQ
    7.  Contact Form
    8.  Footer
    9.  Custom Queries
    10. Tablet Queries
    11. Desktop Queries 
 */


 /* 1. ---General Styles--- */

body {
   color: #626262;
   font-family: 'Sanchez', 'Times New Roman', serif;
}

a {
   text-decoration: none;
   transition: all .5s ease-in-out;
}

input, textarea {
   display: block;
   margin: 0;
   padding: 0;
}

.cr-red {
   color: #9a2018;
}

/* 2. ---Main Nav--- */

#main-nav button {
   background: url(../images/burger.svg) center no-repeat;
   border: 0px;
   width: 20px;
   height: 20px;
   margin-top: 15px;
   margin-bottom: 20px;
   transition: all .5s ease;
}

#main-nav ul {
   list-style: none;
   padding: 0;
   margin: 0;
}

#main-nav ul li a {
   display: block;
   padding: 10px 0 10px 0;
   text-align: center;
   color: #626262;
}

#main-nav ul li a:hover {
   color: #9a2018;
}

#main-nav ul li {
   border-bottom: 1px solid #efefefef;
}

#main-nav ul li:first-child {
   border-top: 1px solid #efefefef;
}

#main-nav ul li:last-child {
   margin-bottom: 10px;
}

#burger-con {
   margin-top: 20px;
   display: none;
}

#burger-con.slide-toggle {
   display: block;
}

#main-nav button.expanded {
   transform: rotate(90deg);
}

/* this will appear at desktop */
#book-now-header {
   display: none;
}

#logo {
   max-width: 228px;
   margin-bottom: 20px;
}

/* 3. ---Main Hero Image--- */

#hero img {
   grid-column: 1/-1;
   grid-row: 1/1;
   justify-self: center;
}

#hero-main {
   height: 220px;
   object-fit: cover;
}

#hero .grid-con {
   /* Telling this grid to live in the middle column */
   grid-column: 2/3;
   /* also telling it stay in the first row, so it overlaps the hero image */
   grid-row:1/1;
   /* get rid of margin 0 auto from the original class */
   margin: 0;
}

.book-now {
   background-color: #9a2018;
   color: #fff;
   font-size: 16px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-style: italic;
   transition: all 0.3s ease;
}

.book-now:hover {
   box-shadow: inset 0px -120px 0px rgb(196, 28, 28);
}

#book-now-hero {
   height: 67px;
}

.hero-img-h2, .hero-img-h3 {
   background-color: #fff;
   padding: 10px 15px;
   font-size: 14px;
}

.hero-img-h2 span, .hero-img-h3 span {
   color: #9a2018;
   font-size: 12px;
}

#booking-calendar {
   display: none;
}

#hero-heading-box {
   align-self: end;
}

.line-seperator {
   margin-top: 20px;
   border-top: solid 3px #CF6666;
   padding-top: 20px;
}

#hero-summary p {
   font-size: 14px;
   line-height: 22px;
   margin-bottom: 20px;
}

/* 4. ---Main Hero Image Contact--- */

.fas {
   font-size: 50px;
   color: #9a2018;
   float: left;
   /* margin: 0 auto; */
}

.fa-mobile-alt {
   margin-right: 20px;
   margin-left: 3px;
   margin-bottom: 20px;
}

.fa-map-marker-alt {
   margin-right: 15px;
}

#contact {
   font-size: 12px;
   background-color: #efefef;
   padding-top: 30px;
   padding-bottom: 30px;
}

#contact .grid-con > div {
   width: 240px;
   margin: 0 auto;
}

#why-choose-us-nav {
   padding-top: 20px;
}

#why-choose-us-nav ul {
   list-style: none;
   margin: 0px;
   padding: 0px;
}

#why-choose-us-nav ul li {
   margin-bottom: 15px;
}

#why-choose-us-nav ul li a {
   color:#9a2018;
   padding: 5px;
}

#why-choose-us-nav ul li a.selected {
   border-left: #9a2018 solid 5px;
}

#why-choose-us-hero-con img {
   /* stretch across all 3 columns */
   grid-column: 1/-1;
   /* stay in first row to allow for overlap */
   grid-row: 1/1;
   justify-self: center;
}

#why-choose-us-hero {
   height: 195px;
   object-fit: cover;
   object-position: 30%;
}

#why-choose-us-hero-con .grid-con {
   /* sit in the middle of the 3 column grid */
   grid-column: 2/3;
   /* stay in the top row, so it overalps the image */
   grid-row: 1/1;
   /* get rid of any margin from original .grid-con class */
   margin: 0;
}

#why-choose-us-heading-box {
   align-self: end;
}



/* 10. ---Tablet Sized Screens--- */

@media screen and (min-width: 768px) {

   #sticky-nav-con {
      position: sticky;
      top: 0px;
      background-color: #fff;
      border-bottom: solid 1px #c3c3c3;
   }

   #logo {
      margin-top: 32px;
      order: -1;
   }

   #button {
      display: none;
   }

   #burger-con {
      display: block;
      font-size: 12px;
   }

   #burger-con ul li, #burger-con ul li:first-child {
      border: none;
      display: inline;
   }

   #main-nav ul li a {
      display: inline;
   }

   #burger-con ul li {
      margin-right: 10px;
   }

   #burger-con ul li:last-child {
      margin-right: 0px;
   }

   #main-nav {
      border-left: 2px solid #707070;
      padding-left: 30px;
      margin-top: 4%;
      margin-bottom: 4%;
   }

   #book-now-header {
      display: flex;
      margin-right: -16px;
   }

   #book-now-hero {
      display: none;
   }

   #hero-main {
      height: 455px;
      object-position: 30%;
   }

   #booking-calendar {
      display: block;
      height: 200px;
      background-color: #9a2018;
      color: #fff;
      margin-top: 50px;
      padding: 30px 10px 20px 10px;
   }

   #booking-calendar h3 {
      font-size: 12px;
      margin-bottom: 10px;
   }

   #booking-calendar input[type="date"], #booking-calendar input[type="number"] {
      padding: 4px;
      background-color: #fff;
      border: 2px solid #d6d6d6;
      border-radius: 5px;
      margin-bottom: 10px;
      font: inherit;
      width: 100%;
   }

   #booking-calendar input[type="submit"] {
      padding: 12px 0 12px 0;
      background-color: #CF6666;
      color: #fff;
      border: solid 2px #cf6666;
      border-radius: 10px;
      width: 100%;
      margin-top: 20px;
      text-align: center;
      transition: all 1s ease-in-out;
   }

   #booking-calendar input[type="submit"]:hover {
      border: solid 2px #fff;
      cursor: pointer
   }

   .hero-img-h2, .hero-img-h3 {
      padding: 30px 15px;
      font-size: 18px;
   }

   .hero-img span, .hero-img-h3 span {
      font-size: 14px;
   }

   .fas {
      font-size: 60px;
   }

   #contact {
      line-height: 22px;
      height: 214px;
      padding-top: 60px;
      font-size: 11px;
   }

   #contact .grid-con > div {
      width: auto;
      margin: 0;
   }

   #why-choose-us-nav {
      margin-top: 30px;
      margin-bottom: 30px;
   }

   #why-choose-us-nav ul li {
      display: inline;
      margin-right: 30px;
   }

   #why-choose-us-nav ul li a.selected {
      border-left: none;
      border-bottom: 5px solid #9a2018;
      padding-bottom: 25px;
   }

   #why-choose-us-hero {
      height: 240px;
   }

}

/* 11. ---Desktop Sized Screens--- */

@media screen and (min-width: 1200px) {
   #main-header {
      height: 110px;
   }

   #main-nav {
      margin-top: 2%;
      margin-bottom: 2%;
      margin-left: 25px;
   }

   #burger-con ul li {
      margin-right: 25px;
   }

   #burger-con {
      font-size: 16px;
      margin-top: 28px;
   }

   .book-now {
      font-size: 18px;
   }

   #booking-calendar {
      height: 234px;
   }

   #check-availability {
      margin-top: 10px;
   }

   .hero-img-h2, .hero-img-h3 {
      font-size: 24px;
   }

   .hero-img-h2 span, .hero-img-h3 span {
      font-size: 16px;
   }

   #hero-main {
      object-position: 15%;
   }

   .fas {
      font-size: 90px;
   }

   .fa-mobile-alt, .fa-map-marker-alt {
      margin-right: 40px;
   }

   #why-choose-us-hero {
      height: 380px;
   }
}

